services:
  zookeeper:
    image: zookeeper:3.9
    hostname: zookeeper
    environment:
      - ZOO_MY_ID=1
  # zkweb:
  #   image: tobilg/zookeeper-webui
  #   ports:
  #     - "8081:8080"
  #   environment:
  #     - ZK_DEFAULT_NODE=zookeeper:2181
  #   depends_on:
  #     - zookeeper
  #   ulimits:
  #     nofile:
  #       soft: 65536
  #       hard: 65536
  traefik:
    image: traefik:3.4
    command:
      - "--api.insecure=true"
      - "--api.dashboard=true"
      - "--providers.zookeeper=true"
      - "--providers.zookeeper.endpoints=zookeeper:2181"
      - "--providers.zookeeper.rootkey=ent-core/traefik"
      - "--entrypoints.web.address=:8090"
      - "--log.level=DEBUG"
    ports:
      - "8090:8090"
      - "8080:8080"
    depends_on:
      - zookeeper
  localstack:
    image: localstack/localstack:latest
    ports:
      - "4566:4566"
    environment:
      - SERVICES=s3
      - AWS_DEFAULT_REGION=us-east-1
    volumes:
      - ./conf/cluster-config/init-s3:/etc/localstack/init

  vertx:
    image: opendigitaleducation/vertx-service-launcher:4.0-zookeeper-SNAPSHOT
    user: "$DEFAULT_DOCKER_USER"
    ports:
      - "5000:5000"
    volumes:
      - ./assets:/srv/springboard/assets
      - ./mods:/srv/springboard/mods
      - ./ent-core.json:/srv/springboard/conf/vertx.conf
      - ./conf/cluster-config/zookeeper.json:/srv/springboard/conf/zookeeper.json
      - ./aaf-duplicates-test:/home/wse/aaf
      - ~/.m2:/home/vertx/.m2
    #    - ./avatars:/srv/storage/avatars
    links:
      - neo4j
      - postgres
      - mongo
      - pdf
      - elasticsearch
      - redis
      - localstack
      - zookeeper
    environment:
      - MODE=cluster
      - ENABLED_SERVICES=
      - DEBUG_SUSPEND=n
      - ENABLE_REMOTE_DEBUG=true
  pdf:
    image: opendigitaleducation/node-pdf-generator:1.0.0
    ports:
      - "3000:3000"

  content-transformer:
    user: "1000:1000"
    image: ghcr.io/edificeio/edifice-tiptap-transformer:1.0.2
    ports:
      - "3100:3000"
  neo4j:
    image: neo4j/neo4j-arm64-experimental:3.5-arm64
    volumes:
      - ./neo4j-conf:/conf
      - ./data/neo4j:/data
  #    ports:
  #      - "7474:7474"
  #      - "7687:7687"
  redis:
    image: redis:7.4.0-alpine
  #    ports:
  #      - "6379:6379"
  elasticsearch:
    image: opensearchproject/opensearch:2.8.0
    environment:
      ES_JAVA_OPTS: "-Xms4g -Xmx4g"
      discovery.type: single-node
      DISABLE_SECURITY_PLUGIN: "true"
    volumes:
      - ./data/es:/usr/share/opensearch/data
    ulimits:
      memlock:
        soft: -1
        hard: -1
      nofile:
        soft: 65536
        hard: 65536
    cap_add:
      - IPC_LOCK
    ports:
      - "9200:9200"
      - "9300:9300"

  postgres:
    image: arm64v8/postgres:14.13
    environment:
      POSTGRES_PASSWORD: We_1234
      POSTGRES_USER: web-education
      POSTGRES_DB: ong
      POSTGRES_HOST_AUTH_METHOD: md5
      POSTGRES_INITDB_ARGS: --auth-host=md5
    volumes:
      - ./data/pgdata:/var/lib/postgresql/data
      - ./docker-entrypoint-initdb.d:/docker-entrypoint-initdb.d
    ports:
      - "5432:5432"

  mongo:
    image: mongo:7.0.12
    volumes:
      - ./data/mongodb:/data/db
  #    ports:
  #      - "27017:27017"

  gradle:
    image: opendigitaleducation/gradle:4.5.1
    working_dir: /home/gradle/project
    volumes:
      - ./:/home/gradle/project
      - ~/.m2:/home/gradle/.m2
      - ~/.gradle:/home/gradle/.gradle

  node:
    image: opendigitaleducation/node:18-alpine-pnpm
    working_dir: /home/node/app
    volumes:
      - ./:/home/node/app
      - ~/.npm:/.npm
