services:

  zookeeper:
    image: zookeeper:3.9
    hostname: zookeeper
    environment:
      - ZOO_MY_ID=1

  traefik:
    image: traefik:3.4
    command:
      - "--api.insecure=true"
      - "--api.dashboard=true"
      - "--providers.zookeeper=true"
      - "--providers.zookeeper.endpoints=zookeeper:2181"
      - "--providers.zookeeper.rootkey=ent-core/traefik"
      - "--entrypoints.web.address=:8090"
      - "--log.level=DEBUG"
    ports: #REMOVE_BY_CI
      - "8090:8090" #REMOVE_BY_CI
      - "8080:8080" #REMOVE_BY_CI
    depends_on:
      - zookeeper

  # zkweb:
  #   image: tobilg/zookeeper-webui
  #   ports:
  #     - "8081:8080"
  #   environment:
  #     - ZK_DEFAULT_NODE=zookeeper:2181
  #   depends_on:
  #     - zookeeper
  #   ulimits:
  #     nofile:
  #       soft: 65536
  #       hard: 65536

  localstack:
    image: localstack/localstack:latest
    ports:
      - "4566:4566"
    environment:
      - SERVICES=s3
      - AWS_DEFAULT_REGION=us-east-1
    volumes:
      - ./cluster-config/init-s3:/etc/localstack/init

  vertx:
    image: opendigitaleducation/vertx-service-launcher:3.0-SNAPSHOT
    user: "$DEFAULT_DOCKER_USER"
    ports: #REMOVE_BY_CI
      - "5000:5000" #REMOVE_BY_CI
    volumes:
      - ./assets:/srv/springboard/assets
      - ./mods:/srv/springboard/mods
      - ./ent-core.json:/srv/springboard/conf/vertx.conf
      - ./conf/cluster-config/zookeeper.json:/srv/springboard/conf/zookeeper.json
      - ./aaf-duplicates-test:/home/wse/aaf
      - ~/.m2:/home/vertx/.m2
    #    - ./avatars:/srv/storage/avatars
    links:
      - neo4j
      - postgres
      - mongo
      - pdf
      - elasticsearch
      - redis
      - localstack
      - zookeeper
    environment:
      - MODE=cluster
      - ENABLED_SERVICES=
      - DEBUG_SUSPEND=n
      - ENABLE_REMOTE_DEBUG=true
  pdf:
    image: opendigitaleducation/node-pdf-generator:1.0.0
    ports:
      - "3000:3000"

  content-transformer:
    user: "$DEFAULT_DOCKER_USER"
    image: ghcr.io/edificeio/edifice-tiptap-transformer:1.0.2
    ports:
      - "3100:3000"

  neo4j:
    image: neo4j:3.1
    volumes:
      - ./neo4j-conf:/conf

  redis:
    image: redis:7.4.0-alpine
#    ports:
#      - "6379:6379"
  elasticsearch:
    image: opensearchproject/opensearch:2.8.0
    environment:
      ES_JAVA_OPTS: "-Xms1g -Xmx1g"
      MEM_LIMIT: 1073741824
      discovery.type: single-node
      DISABLE_SECURITY_PLUGIN: "true"
    ulimits:
      memlock:
        soft: -1
        hard: -1
      nofile:
        soft: 65536
        hard: 65536
    cap_add:
      - IPC_LOCK
    ports:
      - "9200:9200"
      - "9300:9300"

  postgres:
    image: postgres:14.13
    user: "$DEFAULT_DOCKER_USER" #REMOVE_BY_CI
    environment:
      POSTGRES_PASSWORD: We_1234
      POSTGRES_USER: web-education
      POSTGRES_DB: ong
      POSTGRES_HOST_AUTH_METHOD: md5
      POSTGRES_INITDB_ARGS: --auth-host=md5
    volumes:
      - ./data/pgdata:/var/lib/postgresql/data #REMOVE_BY_CI
      - ./docker-entrypoint-initdb.d:/docker-entrypoint-initdb.d

  mongo:
    image: mongo:7.0.12

  gradle:
    image: opendigitaleducation/gradle:4.5.1
    user: "$DEFAULT_DOCKER_USER"
    working_dir: /home/gradle/project
    volumes:
      - ./:/home/gradle/project
      - ~/.m2:/home/gradle/.m2
      - ~/.gradle:/home/gradle/.gradle

  node:
    image: opendigitaleducation/node:18-alpine-pnpm
    user: "$DEFAULT_DOCKER_USER"
    working_dir: /home/node/app
    volumes:
      - ./:/home/node/app
      - ~/.npm:/.npm
      - .config:/.config
